#start-menu{
    position: absolute;

    bottom: 70px;
    left: 10px;

    width: 280px;
    height: 360px;

    background: rgba(30,41,59,0.95);

    border-radius: 12px;

    padding: 20px;

    color: white;

    backdrop-filter: blur(10px);
}
