.app-window{

    position:absolute;

    top:120px;

    left:250px;

    width:420px;

    height:280px;

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 10px 35px rgba(0,0,0,.35);
    
    animation:windowOpen .18s ease;

}
@keyframes windowOpen{

    from{

        opacity:0;

        transform:scale(.95);

    }

    to{

        opacity:1;

        transform:scale(1);

    }

}
.window-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:12px 18px;

    cursor: move;

    background:#1e293b;

    color:white;

}
.window-content{

    padding:20px;

}
.close-btn{

    border:none;

    background:none;

    color:white;

    cursor:pointer;

    font-size:18px;

}
.close-btn:hover{

    color:red;

}
.window-controls{

    display:flex;

    align-items: center;

    gap:4px;

}
.window-controls button{

    width:30px;

    height:30px;

    border:none;

    border-radius:6px;

    background:transparent;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:.2s;

    font-size:16px;

}
.window-controls button:hover{

    background:rgba(255,255,255,.15);

}
.close-btn:hover{

    background:#e81123;


}
#workspace{

    position:absolute;

    inset:0 0 60px 0;

    pointer-events:none;

}
.app-window{

    pointer-events:auto;

}
